# R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore all elements in subfolders called "data"
**/data/*

# Ignore Word files
*.doc
*.docx

# Ignore HTML files
*.html

# Ignore Keynote files
*.key

# Ingore other files
*.aux
*.toc
*.tex

# Ignore text files
*.rtf

# ignore folders
liquin*/
